{% load static %}
<main class="explore">
    <section class="people">
        <ul class="people__list">
            {% for item_ in user_ %}
                <li class="people__person">
                    <div class="people__column">
                        <div class="people__avatar-container">
                            {%   if item_.avatar %}
                            <img
                                    src="{{ item_.avatar.url }}"
                                    class="people__avatar"
                            />
                            {% else %}
                             <img
                                    src="{% static 'home/images/feedPhoto.jpg' %}"
                                    class="people__avatar"
                            />
                            {% endif %}
                        </div>
                        <div class="people__info">
                            <span class="people__username">{{ item_.username }}</span>
                            <span class="people__full-name">{{ item_.first_name }} {{ item_.last_name }}</span>
                        </div>
                    </div>
                    <div class="people__column">
                        <a href="#">Follow</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </section>
</main>
